pkgbase = lifeos
	pkgdesc = Нативный клиент панели управления ИИ-агентами Life OS: трей, уведомления, горячие клавиши
	pkgver = 0.1.2
	pkgrel = 1
	url = https://github.com/Konor11/life-os
	arch = x86_64
	license = MIT
	makedepends = cargo
		makedepends = rust
		makedepends = pkgconf
		makedepends = patchelf
	depends = webkit2gtk-4.1
		depends = gtk3
		depends = libappindicator-gtk3
		depends = librsvg
		depends = cairo
		depends = pango
		depends = glib2
	source = https://github.com/Konor11/life-os/releases/download/v0.1.2/lifeos-desktop-0.1.0.tar.gz
	sha256sums = 10a8b3dc28b8ec2b903b354df97c00726f0a53ee90ecdeabb85c6bbeff79269f
